<section class="signup">
  <div class="signup-container">
    <form class="signup-content">
      <div class="title-content">
        <h3>SIGN UP</h3>
        <p>Already have an account? <span>Sign in</span></p>
      </div>
      <div style="height: 65%">
        <div class="row">
          <div class="column">
            <label for="">Username</label><input type="text" />
          </div>
          <div class="column">
            <label for="">First name</label><input type="text" />
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label for="">Last name</label><input type="text" />
          </div>
          <div class="column">
            <label for="">Email</label><input type="text" />
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label for="">Password</label><input type="text" />
          </div>
          <div class="column">
            <label for="">Confirm Password</label><input type="text" />
          </div>
        </div>
      </div>
      <div style="height: 15%"><button type="button">Submit</button></div>
    </form>
  </div>
</section>
