section.signup {
  * {
    font-family: Poppins, sans-serif;
  }
  div.signup-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    form.signup-content {
      border: 1px solid #1da2b4;
      height: 70%;
      width: 450px;
      border-radius: 10px;
      box-shadow: 0 0 40px #1da2b41f;
      padding: 20px;
      .title-content {
        text-align: center;
        height: 20%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 35px;
          font-weight: 700;
          color: #1da2b4;
          margin: 0px;
        }
        p {
          font-size: 17px;
          margin: 0px;
          span {
            color: #298ccf;
            font-weight: 600;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .row {
        display: flex;
        justify-content: space-between;
        height: 33%;
        align-items: center;
        gap: 30px;
        .column {
          display: flex;
          flex-direction: column;
          width: 100%;
          input {
            height: 35px;
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 3px;
            border: 1px solid #1da2b4;
          }
          input:focus-visible {
            border: 1px solid #1da2b4 !important;
          }
        }
      }
      button {
        margin-top: 12px;
        width: 100%;
        background-color: #1da2b4;
        color: #fff;
        padding: 14px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        border: none;
      }
    }
  }

  @media screen and (max-width: 500px) {
    form.signup-content {
      height: 90% !important;
      width: 90% !important;
      .title-content {
        height: 10% !important;
        margin-bottom: 20px;
      }
      .title-content + div {
        height: 75% !important;
      }
      .row {
        display: block !important;
        .column {
          height: 50%;
          justify-content: center;
          label {
            margin-top: 10px;
          }
        }
      }
    }
  }

  @media screen and (max-height: 650px) and (max-width: 500px) {
    div.signup-container {
      margin-top: 20px;
      height: auto;
      form.signup-content {
        min-height: 600px;
        margin-bottom: 20px;
        button {
          margin-top: 20px;
        }
      }
    }
  }

  @media screen and (max-height: 650px) and (min-width: 501px) {
    div.signup-container {
      margin-top: 20px;
      height: auto;
      align-items: stretch !important;
      form.signup-content {
        min-height: 600px;
        margin-bottom: 20px;
        height: auto;
        button {
          margin-top: 20px;
        }
      }
    }
  }
}
