header {
  background-color: var(--site-background-color);
  color: white;
  border-bottom: 1px solid var(--separatorColor);
}
.nav {
  display: flex;
  justify-content: center;
}
.menu {
  list-style: none;
  li {
    font-size: 15px;
  }
}
