/* You can add global styles to this file, and also import other style files */

:root {
  --site-background-color: #080c0f;
}
*,
::after,
::before {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
