/* You can add global styles to this file, and also import other style files */

:root {
  --site-background-color: #080c0f;
  --fourthColor: #004c6854;
  --componentColor: #0e151a;
  --separatorColor: #1d2b35;
  --scrollColor: #353e46;
}
*,
::after,
::before {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--fourthColor);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollColor);
  &:hover {
    background-color: #555;
  }
}
